div.wrapper > div > p,section.wrapper > div > p {
  text-align: center;
}
div.wrapper > div:nth-child(1n),div.wrapperMinmax > div:nth-child(1n) {
  background: #96ceb4;
}
div.wrapper > div:nth-child(3n),div.wrapperMinmax > div:nth-child(3n) {
  background: #88d8b0;
}
div.wrapper > div:nth-child(2n),div.wrapperMinmax > div:nth-child(2n) {
  background: #ff6f69;
}
div.wrapper > div:nth-child(4n),div.wrapperMinmax > div:nth-child(4n) {
  background: #ffcc5c;
}
div.wrapper {
  display: grid;
  grid-gap: 5px;
  grid-template: repeat(2,150px) / repeat(auto-fit,200px); /*auto-fit create as many as
  possible columns as long the columns are = 200px auto-fit create a column but if
  one column is < 200px so auto-fit delete one column, each column can only be = at 200px so
  sometimes you have white space because there is not enough place for an other column*/
}
div.wrapperMinmax {
  display: grid;
  grid-gap: 5px;
  grid-template: repeat(2,150px) / repeat(auto-fit,minmax(200px,1fr)); /*This instructions says
  create as many as possible columns with a min-width of 200px and a max-width of 1fr. So if a
  column is less than 200px delete one column but if a column is more than 200px so take 1fr
  so take 1 space available in the container*/
}
